<form action="" method="post">
  <h2>수강신청</h2>
  <input type="text" name="hakbun" id="" placeholder="학번" />
  <br />
  <input type="password" name="passwd" id="" placeholder="****" />
  <br />
  <button type="submit">로그인</button>
</form>
