{{> ./layouts/header }}

<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Title</th>
      <th scope="col">Content</th>
    </tr>
  </thead>
  <tbody class="table-group-divider">
    <!--
      컨트롤러에서 넘어오는 Model 객체에 저장되서 넘어오는 데이터에 "."을 찍어서
      멤버에 접근한다
    -->

    <!--
      컨트롤러에서 넘어오는 Model 객체에 저장되서 넘어오는 값의 사용 범위를 정할 수 있다
    -->
    {{ #article }} <!-- article 시작, /끝 범위 사용 시 "#"을 준다 -->
      <tr>
        <td>{{ id }}</td>
        <td>{{ title }}</td>
        <td>{{ content }}</td>
      </tr>
    {{ /article }}
  </tbody>
</table>

<a href="/articles/" class="btn btn-primary">목록으로</a>

<!-- 수정하기 -->
<a href="/articles/{{ id }}/edit" class="btn btn-info">수정하기</a>

<!-- 글 삭제 링크 추가 -->
<a href="/articles/{{ id }}/delete" class="btn btn-danger">삭제하기</a>

{{> ./layouts/footer }}
